:root {
  --ms-bases: 1;
  --ms-ratios: 1.35;
}

/* Color -- */

/* Type -- */

body {
  font-family: 'renner', helvetica, sans-serif;
  margin:0;
  color: rgb(63, 13, 98);
}

.Content--container{
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }

.Content--container:before{
    content: '';
    display: table;
  }

.Content--container:after{
    content: '';
    display: table;
    clear: both;
  }

.Content__head{
    margin-bottom: 1rem;
    display: inline-block;
  }

.Content__head--link{
      text-decoration: none;
      border-bottom: solid 4px;
    }

.Content__title{
    font-weight: 600;
    font-size: 1.823rem;
    min-width: 70%;
    line-height: 1.15;
  }

.Content__navigation{
    display: inline-block;
    vertical-align: text-top;
    float: right;
  }

.Links {
  width: 100%;
  margin-top: 2rem;
}

.Links__left {
    float: left;
  }

.Links__right {
    float: right;
  }

.Links__Logo {
    float: left;
  }

.Links__Logo img {
      width: 60px;
      height: 60px;
      border-radius: 42px;
      margin-top: 1.5rem;
      /*filter: grayscale(100%);*/
    }

.LinksIcon {
  width: 24px;
  display: inline-block;
  margin-top: 1.823rem;
  margin-right: 1.35rem;
}

.Head {
  /*background-color: #eee;*/
  margin-top: 40vh;
  max-height: 80%;
}

.Head__body {
    width: 60%;
    font-size: 1.823rem;
    line-height: 1.5;
  }

.Head__content {
    margin-bottom: 1.35rem;
    padding-bottom: 1.823rem;
  }

.Head__title {
    color: #7d1ac3;
    font-size: 2.46rem;
  }

.Head__title--small {
      font-size: 1.823rem;
      font-family: 'Space Mono', monospace;
      color: #151520;
      margin-bottom: 3.322rem;
      display: block;
      margin-top: 3.322rem;
    }

/** List */

.List {
  margin-top: 1.75rem;
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.List__item {
    font-size: 1.823rem;
    /*border-bottom: solid 1px #eee;*/
    padding-bottom: 1.35rem;
    margin-bottom: 1.35rem;
    display: flex;
    align-items: flex-start;
    width: 60%;
  }

.List__image {
    width: 40px;
    /*display: inline-block;*/
  }

.List__title {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    /*padding-left: 1rem;*/
    font-size: 1.35rem;
    color: rgb(94, 20, 146); /* == color(red l(50%)); */
  }

.List__content {
    flex: 1;
    padding-left: 1.823rem;
  }

.List__content p{
      font-size: 1.35rem;
      font-weight: 100;
      line-height: 1.5;
      margin-top: 0.5rem;
      color: rgb(111, 124, 171); /* == color(red l(50%)); */
    }

.Hero {
  min-height: 480px;
  max-height: 480px;
  position: relative;  
  margin-bottom: 1.823rem;
}

.Hero:before {
  content: '';
  display: table;
}

.Hero:after {
  content: '';
  display: table;
  clear: both;
}

.Hero:before {
  content: '';
  display: table;
}

.Hero:after {
  content: '';
  display: table;
  clear: both;
}

.Hero .Head__content {
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

.Body:before {
  content: '';
  display: table;
}

.Body:after {
  content: '';
  display: table;
  clear: both;
}

/** Footer */

.Footer {
  background-color: #f1f7f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #758c90;
}

.Footer p {
    font-size: 1.35rem;
  }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/