doctype html
html
  head
    link(rel='stylesheet', href='https://indestructible-type.github.io/fonts/stylesheet.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Space+Mono', type='text/css')
    link(href='main.css')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Ravindra Kumar - Android & Kotlin Developer in Bangalore
  body
    .M
      .Content--container
        .Links
          a.Links__Logo(href="/")
            img(src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAAryAAAAJDM5YjdiOTdmLWE4NjAtNDQ4NS1hMTc1LWJhMmVmMjI5M2IxMQ.jpg")
          .Links__right
            a(href="https://github.com/ravidsrk")
              img.LinksIcon(src="img/github.svg")
            a(href="https://www.linkedin.com/in/ravidsrk")
              img.LinksIcon(src="img/linkedin.svg")
            a(href="https://www.linkedin.com/in/ravidsrk")
              img.LinksIcon(src="img/twitter.svg")
            a(href="https://www.linkedin.com/in/ravidsrk")
              img.LinksIcon(src="img/medium.svg")
        .Hero
          .Head__content
            h1.Head__title Ravindra Kumar
            .Head__body
              p Bangalore based Android Developer & Open source enthusiast
          
        .Body
          .Head__content
            h3.Head__title--small Projects
            ul.List
              li.List__item              
                img.List__image(src="http://androidstarters.com/favicon.png")                
                span.List__content
                  h4.List__title Android Starts
                  p ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis esse iste, maiores ab voluptatibus laudantium nam nesciunt quisquam, at debitis unde earum incidunt sapiente animi saepe tenetur expedita delectus.
              li.List__item              
                img.List__image(src="http://androidstarters.com/favicon.png")                
                span.List__content
                  h4.List__title Android Starts
                  p ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis esse iste, maiores ab voluptatibus laudantium nam nesciunt quisquam, at debitis unde earum incidunt sapiente animi saepe tenetur expedita delectus.
              li.List__item              
                img.List__image(src="http://androidstarters.com/favicon.png")                
                span.List__content
                  h4.List__title Android Starts
                  p ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis esse iste, maiores ab voluptatibus laudantium nam nesciunt quisquam, at debitis unde earum incidunt sapiente animi saepe tenetur expedita delectus.        
          .Head__content
            h3.Head__title--small Talks
            ul.List
              li.List__item              
                img.List__image(src="http://androidstarters.com/favicon.png")                
                span.List__content
                  h4.List__title Android Starts
                  p ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis esse iste, maiores ab voluptatibus laudantium nam nesciunt quisquam, at debitis unde earum incidunt sapiente animi saepe tenetur expedita delectus.
              li.List__item              
                img.List__image(src="http://androidstarters.com/favicon.png")                
                span.List__content
                  h4.List__title Android Starts
                  p ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis esse iste, maiores ab voluptatibus laudantium nam nesciunt quisquam, at debitis unde earum incidunt sapiente animi saepe tenetur expedita delectus.
              li.List__item              
                img.List__image(src="http://androidstarters.com/favicon.png")                
                span.List__content
                  h4.List__title Android Starts
                  p ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis esse iste, maiores ab voluptatibus laudantium nam nesciunt quisquam, at debitis unde earum incidunt sapiente animi saepe tenetur expedita delectus.
    footer.Footer
      .Content--container        
        .Links__left
          p &copy; Ravindra Kumar 2017
        .Links__right
          a(href="https://github.com/ravidsrk")
            img.LinksIcon(src="img/github.svg")
          a(href="https://www.linkedin.com/in/ravidsrk")
            img.LinksIcon(src="img/linkedin.svg")
          a(href="https://www.linkedin.com/in/ravidsrk")
            img.LinksIcon(src="img/twitter.svg")
          a(href="https://www.linkedin.com/in/ravidsrk")
            img.LinksIcon(src="img/medium.svg")

