doctype html
html
  head
    link(rel='stylesheet', href='https://indestructible-type.github.io/fonts/stylesheet.css', type='text/css')
    link(href='main.css')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Ravindra Kumar - Android & Kotlin Developer in Bangalore
  body
    .Content--container
      .Links
        img.LinksIcon(src="img/github.svg")
        img.LinksIcon(src="img/linkedin.svg")
      .Head
        .Head__content
          h1.Head__title Ravindra Kumar
          .Head__body
            p Bangalore based Android Developer & Open source enthusiast
        .Head__content
          h3.Head__title--small Projects
          ul.List
            li.List__item Android Starts
            li.List__item Proguarad Please
            li.List__item Kotlin Tutorials

