:root {
  --ms-bases: 1, 0.75;
  --ms-ratios: 2;
}

$fill-bright: #56659c;

body {
  font-family: 'renner', sans-serif;
  color: #777;
}

.Content{   
  &--container{
    lost-center: 60em;
  }
  &__head{
    margin-bottom: 1rem;
    display: inline-block;
    &--link{
      text-decoration: none;
      border-bottom: solid 4px;
    }
  }
  &__title{
    color: #fff;
    font-weight: 600;
    font-size: ms(4)rem;
    /*font-size: 59px;*/
    min-width: 70%;
    line-height: 1.15;
  }
  &__navigation{
    display: inline-block;
    vertical-align: text-top;
    float: right;
  }
}

.Links {
  display: inline-block;
  float: right;
}

.LinksIcon {
  width: 24px;
  display: inline-block;
  margin-top: ms(2)rem;
  margin-right: ms(1)rem;
}

.Head {
  /*background-color: #eee;*/
  margin-top: 40vh;
  max-height: 80%;
  &__body {
    width: 40%;
    font-size: ms(2)rem;
    line-height: 1.5;
  }
  &__content {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  &__title {
    color: #56659c;
    font-size: ms(4)rem;
    &--small {
      font-size: 1rem;
      color: #8ba2c9;
      font-family: 'rennerlight';
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      color: #999;
      margin-bottom: 2rem;
      display: block;
    }
  }
}

.List {
  margin-top: 1.75rem;
  margin-left: 0;
  list-style: none;
  padding-left: 0;  
  &__item {
    font-size: ms(2)rem;
    border-bottom: solid 1px #eee;
    padding-bottom: ms(1)rem;
    margin-bottom: ms(1)rem;
  }
}