:root {
  --ms-bases: 1;
  --ms-ratios: 1.35;
}

/* Vars -- */
$fill-bright: #56659c;
$fill-light: #999;
$fill-grey: #777;
$fill-alt: #7d1ac3;
$fill-dark: #151520;

$type-base: 'renner', helvetica, sans-serif;
$type-light: 'rennerlight', helvetica, sans-serif;
$type-alt: 'Space Mono', monospace;

body {
  font-family: $type-base;
  margin:0;
  color: color($fill-alt shade(50%));
}

.Content{   
  &--container{
    lost-center: 60em;
  }
  &__head{
    margin-bottom: 1rem;
    display: inline-block;
    &--link{
      text-decoration: none;
      border-bottom: solid 4px;
    }
  }
  &__title{
    font-weight: 600;
    font-size: ms(2)rem;
    min-width: 70%;
    line-height: 1.15;
  }
  &__navigation{
    display: inline-block;
    vertical-align: text-top;
    float: right;
  }
}

.Links {
  width: 100%;
  &__left {
    float: left;
  }
  &__right {
    float: right;
  }
  &__Logo {
    float: left;
    img {
      width: 42px;
      height: 42px;
      border-radius: 42px;
      margin-top: 1.5rem;
    }
  }
}

.LinksIcon {
  width: 24px;
  display: inline-block;
  margin-top: ms(2)rem;
  margin-right: ms(1)rem;
}

.Head {
  /*background-color: #eee;*/
  margin-top: 40vh;
  max-height: 80%;
  &__body {
    width: 60%;
    font-size: ms(2)rem;
    line-height: 1.5;
  }
  &__content {
    margin-bottom: ms(6)rem;
    padding-bottom: ms(2)rem;
  }
  &__title {
    color: $fill-alt;
    font-size: ms(3)rem;
    &--small {
      font-size: ms(2)rem;
      font-family: $type-alt;
      color: $fill-dark;
      margin-bottom: ms(4)rem;
      display: block;
      margin-top: ms(4)rem;
    }
  }
}

/** List */
.List {
  margin-top: 1.75rem;
  margin-left: 0;
  list-style: none;
  padding-left: 0;    
  &__item {
    font-size: ms(2)rem;
    /*border-bottom: solid 1px #eee;*/
    padding-bottom: ms(1)rem;
    margin-bottom: ms(1)rem;
    display: flex;
    align-items: flex-start;
  }
  &__image {
    width: 40px;
    /*display: inline-block;*/
  }
  &__title {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    /*padding-left: 1rem;*/
    font-size: ms(1)rem;
    color: color($fill-alt shade(25%)); /* == color(red l(50%)); */
  }
  &__content {
    flex: 1;
    padding-left: ms(2)rem;
    p{
      font-size: ms(0)rem;
      font-weight: 100;
      line-height: 1.5;
      margin-top: 0.5rem;
      color: color($fill-alt shade(50%)); /* == color(red l(50%)); */
    }
  }
}

/** Footer */
.Footer {
  background-color: #f1f7f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #758c90;
}